@font-face {
  font-family: 'icomoon';
  src: url('../assets/fonts/icomoon.eot');
  src:
    url('../assets/fonts/icomoon.eot') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf') format('truetype'),
    url('../assets/fonts/icomoon.woff') format('woff'),
    url('../assets/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
  content: '\e900';
}
.icon-check-circle:before {
  content: '\e901';
}
.icon-dark-mode:before {
  content: '\e902';
}
.icon-email:before {
  content: '\e903';
}
.icon-eraser:before {
  content: '\e904';
}
.icon-error:before {
  content: '\e905';
}
.icon-info:before {
  content: '\e906';
}
.icon-light-mode:before {
  content: '\e907';
}
.icon-password:before {
  content: '\e908';
}
.icon-pencil:before {
  content: '\e909';
}
.icon-person:before {
  content: '\e90a';
}
.icon-settings:before {
  content: '\e90b';
}
.icon-verified-user:before {
  content: '\e90c';
}
.icon-warning:before {
  content: '\e90d';
}
