$white: #fff;
$primary: #7f56d9;
$primary-light: #e5ddf7;
$primary-dark: #bfaaec;
$primary-active: #9978e1;
$primary-hover: #602ecc;
$danger: #dc3545;
$danger-active: #e35d6a;
$danger-hover: #bf2231;
