// Background colors:
$background-primary: #1871ed;
$background-secondary: #edf5ff;
$background-white: #ffffff;

// Text colors:
$text-primary: #1461cc;
$text-default: #1c1e21;
$text-white: #ffffff;
$text-disabled: rgba(0, 0, 0, 0.55);
$text-title: rgba(0, 0, 0, 0.85);

// Border color:
$border-white: #fff;
$border-gray: #dadcde;
$border-cell-table: #f5f6f7;
