$white: #fff;
$primary: #7f56d9;
$primary-light: #e5ddf7;
$primary-dark: #bfaaec;
$primary-active: #9978e1;
$primary-hover: #602ecc;
$danger: #dc3545;
$danger-active: #e35d6a;
$danger-hover: #bf2231;
$black: #1d1f4f;
$green: #4caf50;
$light-green: #94f7a7;
$light-cyan: #d5fef8;
$cyan: #81fbfc;
$light-yellow: #fff8cc;
$yellow: #ffe881;
$light-red: #ffe7dd;
$red: #ffa698;
