@mixin style-text(
  $font-size: 16px,
  $font-weight: 400,
  $line-height: 24px,
  $letter-spacing: 1px,
  $font-style: normal
) {
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin flex-box($justify-content: center, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin truncate-multiline-line($line: 2) {
  $webkit: -webkit-box;
  display: $webkit;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin truncate-text() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
